config APP_ENABLE_LVGL_LAUNCHER
    bool "Enable DshanPI EdgeOS Desktop"
    default n
    select RTSMART_3RD_PARTY_ENABLE_LVGL
    select RTSMART_3RD_PARTY_ENABLE_CJSON
    help
        Build DshanPI EdgeOS Desktop and its AI applications for the
        640x480 ST7701 display.
